.button {
	padding: 0.8em 1.6em;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
	color: var(--basic-color);
	font-size: 1em;
	font-family: inherit;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		filter: invert();
	}
}
